{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}!{% endblock %}

{% block body %}
<main>
    <section>
        <div>
            <h1>
                {{ controller_name }} !
            </h1>
        </div>
    </section>
</main>
{% endblock %}
